.center {
	display: flex;
	height: 100%;
}

.center-panel {
	display: flex;
	flex-direction: column;
	gap: 15px;
	color: #333;
	width: 100%;
	height: 100%;
}

.center-panel h3 {
	margin: 0;
	font-size: 20px;
	text-align: center;
	border-radius: 3px;
}

.soldiers-table {
	width: 100%;
	border-collapse: collapse;
}

.soldiers-table th,
.soldiers-table td {
	border-bottom: 1px solid #aaa;
	padding: 10px;
	text-align: left;
	font-size: 16px;
}

.action-buttons {
	text-align: right;
	white-space: nowrap;
}

.action-buttons button {
	margin-left: 8px;
	cursor: pointer;
	font-size: 16px;
	background: transparent;
	border: none;
}

.report-form .form-group {
	display: flex;
}

.report-form .form-group.reason {
	gap: 10px;
}
.report-form .form-group.reason label {
	margin-top: 4px;
}
.report-form .form-group.reason select {
	flex: 1;
	background-color: rgba(92, 92, 92, 0.75);
	color: rgba(255, 255, 255, 0.76);
}

.report-form .form-group.term {
	gap: 10px;
}
.slider-container {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-top: 4px;
}

.slider-container input[type='range'] {
	flex: 1;
	padding: 0;
	margin-top: -5px;
}

.slider-value {
	font-weight: bold;
	min-width: 50px;
	margin-top: -8px;
	text-align: right;
	color: #333333e4;
}

.report-form .form-group.description {
	flex-direction: column;
	margin-top: 10px;
}
.report-form label {
	font-weight: bold;
	margin-bottom: 4px;
}

.report-form select,
.report-form input,
.report-form textarea {
	padding: 8px;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 3px;
	background: #fff;
	font-size: 14px;
}

.user-info {
	margin-top: 10px;
	padding: 10px;
	background: #eee;
	border-radius: 3px;
	font-size: 14px;
	color: #333;
}

.submit-btn {
	padding: 10px;
	margin-top: 12px;
	background: rgba(138, 183, 107, 0.9);
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
}

.report-list {
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}

.report-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(153, 153, 44, 0.55);
	color: #333;
	font-size: 14px;
	padding: 2px 10px;
	border-radius: 3px;
}

.report-item .index {
	margin-right: 8px;
	font-weight: bold;
}

.report-item .title {
	flex: 1;
	position: relative;
	padding-top: 0.5rem;
}

.report-item .actions button {
	background: none;
	border: none;
	padding: 10px;
	font-size: 24px;
	box-shadow: none;
}
.report-item .actions .eye {
	color: rgba(82, 163, 197, 0.9);
}
.report-item .actions .download {
	margin-left: 8px;
	color: rgba(138, 183, 107, 0.877);
}

.report-permanent {
	background-color: rgba(136, 136, 47, 0.4);
}

.report-active {
	background-color: rgba(20, 120, 20, 0.25);
}

.report-expired {
	background-color: rgba(92, 92, 92, 0.45);
}

.report-item .cipher {
	font-weight: bold;
	color: rgba(120, 20, 20, 0.8);
}
.report-item .number {
	font-style: italic;
	color: rgba(120, 20, 20, 0.8);
}
.report-item .status-text {
	font-weight: bold;
	color: rgba(20, 120, 20, 0.8);
}
.report-item .description {
	color: rgba(106, 0, 255, 0.8);
}
.report-item .creator {
	color: #b27504dd;
}
.report-item .timestamp {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0.75;
	font-size: 0.7em;
}

/* Общий контейнер редактора */
.w-md-editor {
	background-color: #1e1e2f !important;
	border: 1px solid #444 !important;
	border-radius: 4px !important;
}

/* Поле ввода */
.w-md-editor .w-md-editor-text {
	background-color: #1e1e2f !important;
	color: #f8f8f2 !important;
}

/* Textarea ввода */
.w-md-editor-text-input {
	background-color: #1e1e2f !important;
	color: #ffffff !important;
	caret-color: #ffffff;
	border: none !important;
	outline: none !important;
	font-family: 'Fira Code', monospace;
	-webkit-text-fill-color: #ffffff !important;
}

.w-md-editor-text-input::placeholder {
	color: #888 !important;
}
/* Панель инструментов */
.w-md-editor-toolbar {
	background-color: #2c2f3a !important;
	color: #aaa !important;
	border-bottom: 1px solid #444;
}

/* Предпросмотр */
.w-md-editor-preview {
	background-color: #1e1e2f !important;
	color: #dcdcdc !important;
}

.value-description {
	font-size: 12px;
	min-width: 50px;
	margin-top: -8px;
	text-align: right;
	color: #333333e4;
}
