.officer-page {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.blur-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(8px);
	z-index: 0;
}

/* Центрированная навигация */
.officer-nav {
	display: flex;
	justify-content: center;
	gap: 70px;
	padding: 8px 40px;
	background: rgba(255, 255, 255, 0.65);
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 2;
	position: relative;
	margin-bottom: 15px;
}

.officer-nav button {
	padding: 0 16px;
	border: none;
	background: initial;
	cursor: pointer;
	font-weight: 500;
	font-size: 20px;
	box-shadow: none;
	border: none;
	transition: all 0.1s ease-in-out;
}

.nav-button.active {
	font-weight: 600;
	color: rgba(138, 183, 107);
}

.officer-layout {
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 20px;
	width: 100%;
	max-width: 1400px;
	height: 600px; /* ограниченная высота */
	position: relative;
	z-index: 1;
}

/* Боковые панели */
.left-panel,
.right-panel {
	width: 200px;
	color: #131313;
	background: rgba(255, 255, 255, 0.65);
	padding: 8px;
	overflow-y: auto;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.left-panel {
	border-right: 1px solid #ccc;
}

.right-panel {
	border-left: 1px solid #ccc;
}

.left-panel h3 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
}
.right-panel h3 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	border-bottom: rgba(0, 0, 0, 0.15) 1px solid;
}

.right-panel input {
	width: 89%;
	padding: 6px 10px;
	font-size: 14px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.right-panel ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.right-panel li {
	padding: 4px 0;
	font-size: 14px;
}

.left-panel ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.left-panel li {
	padding: 4px 0;
	font-size: 14px;
}

.add-soldier {
	margin-top: auto;
	padding: 8px;
	background-color: rgba(138, 183, 107, 0.5);
	border: 1px solid #ccc;
	border-radius: 2px;
	cursor: pointer;
	font-size: 18px;
	transition: all 0.2s ease-in-out;
}

.add-soldier:active {
	background: rgba(128, 167, 101, 0.9);
}

/* Центральный блок */
.officer-content {
	flex: 1;
	background: rgba(255, 255, 255, 0.65);
	padding: 20px;
	border-radius: 4px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.placeholder {
	color: #444;
	font-style: italic;
	font-size: 16px;
}
