.officer-page {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.blur-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(8px);
	z-index: 0;
}

/* Центрированная навигация */
.officer-nav {
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px 40px;
	gap: 20px;
	background: var(--panel-background);
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	position: relative;
	margin-bottom: 20px;
}

.officer-nav button {
	position: relative;
	padding: 0 16px;
	border: none;
	background: initial;
	cursor: pointer;
	font-weight: 500;
	font-size: 20px;
	box-shadow: none;
	border: none;
	transition: all 0.1s ease-in-out;
}

.nav-button.active {
	font-weight: 600;
	color: rgba(138, 183, 107);
}

.notification-dot {
	position: absolute;
	top: 0px;
	right: 5px;
	width: 8px;
	height: 8px;
	background-color: #ff4d4f;
	border-radius: 50%;
	border: 1px solid white;
}

.left-nav {
	display: flex;
	width: 25%;
	height: 100%;
	align-items: center;
	gap: 20px;
	justify-content: flex-start;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
	cursor: pointer;
}

.center-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.label-CR {
	color: #bf9705;
	font-size: 24px;
}
.right-nav {
	display: flex;
	align-items: center;
	gap: 30px;
}
.Notifications-nav-button {
	color: var(--text-color);
	font-size: 26px !important;
	padding: 0 !important;
	margin-top: 6px;

	transition: all 0.2s ease-in-out !important;
}
.exit-nav-button {
	color: #f00;
	font-size: 32px !important;
	padding: 0 !important;
	margin-top: 6px;
	transition: all 0.25s ease-in-out !important;
}

.Notifications-nav-button:hover,
.exit-nav-button:hover {
	transform: scale(1.3);
}
.officer-layout {
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 20px;
	width: 100%;
	max-width: 1400px;
	height: 650px; /* ограниченная высота */
	position: relative;
	z-index: 1;
}

/* Боковые панели */
.left-panel,
.right-panel {
	width: 200px;
	color: var(--text-color);
	background: var(--panel-background);
	padding: 8px;
	overflow: hidden;
	border-radius: 2px;
	z-index: 30;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.left-panel h3,
.right-panel h3 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	border-bottom: var(--border-bottom-left-right-panel) 1px solid;
}

.right-panel input {
	width: 89%;
	padding: 6px 10px;
	font-size: 14px;
	margin-bottom: 10px;
	border: 1px solid var(--border-color);
	background: var(--background-color);
	color: var(--text-color);
	border-radius: 2px;
}

.right-panel ul,
.left-panel ul {
	list-style: none;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

.right-panel li button,
.left-panel li button {
	padding: 6px 10px;
	width: 100%;
	text-align: left;
	background: var(--report-background);
	border: none;
	border-radius: 2px;
	cursor: pointer;
	font-size: 14px;
	transition: all 0.2s ease-in-out;
}

.add-soldier {
	margin-top: auto;
	padding: 8px;
	background-color: rgba(138, 183, 107, 0.5);
	border: var(--border-color) 1px solid;
	border-radius: 2px;
	cursor: pointer;
	font-size: 18px;
	transition: all 0.2s ease-in-out;
}

.add-soldier:active {
	background: rgba(128, 167, 101, 0.9);
}

/* Центральный блок */
.officer-content {
	flex: 1;
	background: var(--panel-background);
	padding: 20px;
	border-radius: 4px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.placeholder {
	color: #444;
	font-style: italic;
	font-size: 16px;
}

.reports-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.reports-list li button {
	background: var(--report-background);
	border: none;
	cursor: pointer;
	font-size: 13px;
}

.truncate-text {
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.theme-toggle-button {
	font-size: 1.5rem;
	background: var(--panel-background);
	color: var(--text-color);
	border: 1px solid var(--border-color);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

#CR_for_all_time {
	font-size: 16px;
	color: var(--CR_for_all_time-color);
}
