/* Модальное окно */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.45);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.modal-content {
	background: var(--profile-background);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	width: 800px;
	height: 600px;
	position: relative;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.profile-top-panel {
	position: relative;
	border-bottom: #555 solid 1px;
	height: 50px;
	border-radius: 8px 8px 0 0;
	backdrop-filter: blur(10px);
}

.edit-button.fixed {
	position: absolute;
	top: 10px;
	left: 20px;
	z-index: 10;
	font-size: 20px;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	box-shadow: none;
	color: var(--text-color);
}
.edit-button.fixed:hover {
	transform: scale(1.3);
}

.edit-password-button.fixed {
	position: absolute;
	top: 8px;
	left: 60px;
	z-index: 10;
	font-size: 22px;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	box-shadow: none;
	color: var(--text-color);
}
.edit-password-button.fixed:hover {
	transform: scale(1.3);
}
.Appearance-button.fixed {
	position: absolute;
	top: 8px;
	left: 100px;
	z-index: 10;
	font-size: 22px;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	box-shadow: none;
	color: var(--text-color);
}
.Appearance-button.fixed:hover {
	transform: scale(1.3);
}

.close-button.fixed {
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 10;
	font-size: 28px;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	box-shadow: none;
	color: rgba(219, 58, 41, 0.9);
}
.close-button.fixed:hover {
	transform: scale(1.3);
	color: rgba(219, 58, 41, 1);
}
/* Форма */
.user-profile-form {
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
	gap: 0.7rem;
	background: initial;
	position: relative;
}
.background-img-profile {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	border-radius: 8px;
}

.form-grid {
	display: flex;
	gap: 1.6rem;
}

.profile-container {
	width: 240px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatar-wrapper {
	position: relative;
	width: 100%;
	aspect-ratio: 1 / 1;
	margin-bottom: -25px;
	margin-left: 20px;
	border: none;
}

.avatar-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 85%;
	height: 85%;
	border-radius: 50%;
	border: none;
	object-fit: cover;
	background-color: #1a1a1a;
}

.profile-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	border: none;
	pointer-events: none;
}

/* Кнопка редактирования аватара */
.edit-avatar-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 88%;
	height: 88%;
	padding: 0;
	border-radius: 50%;
	border: none;
	background: rgba(26, 26, 26, 0.15);
	color: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: none;
	transition: background-color 0.2s ease;
}

.edit-avatar-button:hover {
	background: rgba(0, 0, 0, 0.3);
	transform: translate(-50%, -50%);
	box-shadow: none;
}

.info-button-wrapper {
	position: relative;
	width: 44px;
	height: 44px;
	margin-top: -12px;
	margin-left: 20px;
	z-index: 10;
	border: none;
}

.info-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background: #333;
	color: rgba(255, 255, 255, 0.83);
	border: none;
	font-size: 32px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.info-button:hover {
	color: #fff;
	background-color: #555;
	transform: translate(-50%, -50%);
}

.info-block {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}
.info-block input {
	width: 70%;
}

.field-row {
	display: flex;
	flex-direction: column;
	position: relative;
}
.readonly-row h2 {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	background-color: var(--profile-background);
	border-radius: 8px;
	padding: 4px 8px;
}
.field-row.discord {
	display: flex;
	margin-top: -1rem;
	color: rgba(176, 121, 249, 0.903);
}
.field-row.discord h2 {
	font-size: 14px;
	background: none !important;
}
.field-row.discord input {
	font-size: 14px !important;
}
.field-row label {
	font-weight: bold;
	margin-bottom: 0.3rem;
}
.field-row.username .username {
	font-size: 30px;
}
.readonly-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.readonly-row button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: #333;
	padding: 2px;
}

.editable-row {
	display: flex;
	align-items: center;
	gap: 10px;
}

.editable-row select {
	flex: 1;
	max-width: 74%;
	padding: 0.5rem;
	font-size: 14px;
	color: var(--text-color);
	background: var(--background-color);
}
.edit-actions {
	display: flex;
	gap: 5px;
}

.edit-actions button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
	padding: 2px;
	box-shadow: none;
	transition: color 0.3s ease-in-out, transform 0.25s ease-in-out;
}

.edit-actions button:hover {
	color: #007bff;
	transform: scale(1.2);
}

.user-profile-form button[type='submit'] {
	position: absolute;
	right: 20px;
	bottom: 20px;
	align-self: flex-end;
	padding: 0.5rem 1.2rem;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 15px;
	cursor: pointer;
	transition: background 0.3s ease, transform 0.25s ease;
	margin-top: 1rem;
}

.user-profile-form button[type='submit']:disabled {
	background-color: #999;
	cursor: default;
}

.user-profile-form button[type='submit']:hover:enabled {
	background-color: #0056b3;
}

.upload-area {
	border: 2px dashed #aaa;
	padding: 1rem;
	text-align: center;
	cursor: pointer;
	margin-bottom: 1rem;
}
.upload-area img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 2px;
}
#edit-avatar-button {
	position: absolute;
	top: 0;
	right: 12px;
	padding: 0;
	font-size: 1rem;
	background: none;
	color: rgba(193, 137, 18, 0.83);
	cursor: 'pointer';
}

.profile-bottom-medal-panel {
	position: relative;
	border-top: #555 solid 1px;
	height: 120px;
	border-radius: 0 0 8px 8px;
	backdrop-filter: blur(10px);
}

.positions-container {
	flex-wrap: wrap;
	align-content: flex-start;
	width: 90%;
	overflow-x: hidden;
	overflow-y: auto;
	height: 180px;
	justify-content: flex-start;
	gap: 6px;
	border-top: var(--border-color) 1px solid;
}

#field-row-label {
	font-size: 24px;
	font-weight: bold;
	width: max-content;
	padding: 2px 8px;
	border-radius: 8px;
	color: var(--text-color);
	background-color: var(--profile-background);
}

.position-tag {
	background-color: var(--profile-background);
	color: var(--text-color);
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	padding: 4px 10px;
	border-radius: 12px;
	font-size: 14px;
	font-weight: 500;
	white-space: nowrap;
}

.appearance-panel-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.45);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}
