/* InfoPanel.css */
.info-panel {
	width: 100%;
	width: 600px;
	max-height: 650px;
	margin: 20px auto;
	padding: 24px 24px 40px;
	background: #2c2f33;
	color: #fff;
	border-radius: 12px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
	animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.info-panel-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #4f545c;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.info-panel-header h2 {
	margin: 0;
	font-size: 1.8em;
	font-weight: 600;
	color: #7289da;
}

.save-button,
.cancel-button {
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 1em;
	font-weight: 500;
	transition: all 0.3s ease;
	min-width: 100px;
}

.save-button {
	background: #43b581;
	color: #fff;
	margin-right: 10px;
}

.save-button:hover {
	background: #57c793;
	transform: translateY(-2px);
}

.cancel-button {
	background: #f04747;
	color: #fff;
}

.cancel-button:hover {
	background: #ff5e5e;
	transform: translateY(-2px);
}

.info-panel-content {
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
	line-height: 1.25;
}

.edit-textarea {
	width: calc(100% - 20px);
	min-height: 600px;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #4f545c;
	background: #36393f;
	color: #fff;
	font-size: 1em;
	resize: vertical;
	overflow-x: hidden;
	overflow-y: auto;
	transition: border-color 0.3s ease;
}

.edit-textarea:focus {
	outline: none;
	border-color: #7289da;
}

.info-panel-actions {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}
/* Вставьте в UserProfileForm.css или создайте новый файл */

.info-panel-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Убедитесь, что он поверх других элементов */
	animation: fadeInOverlay 0.3s ease-in-out;
}

@keyframes fadeInOverlay {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.infopanel-button {
	background: none;
	border: none;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
	color: #f00;
	margin-left: 10px;
	transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.infopanel-button:hover {
	color: #ff0000;
	transform: scale(1.3);
	box-shadow: none;
}
.info-panel-header .header-buttons {
	display: flex;
	align-items: center;
}
